.category-title {
  padding: 8px 20px;
}

.category-content {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  gap: 30px;
  justify-content: space-evenly;
  align-items: stretch;
}
