<div class="main-content">
  <div class="h3-container" *ngIf="requiredMaterials?.length">
    <h3>Give these to your favorite alchemist !</h3>
    <div class="box-border-container">
      <div class="grid-container-material">
        <div *ngFor="let material of requiredMaterials; let index=index">
          <app-material [material]="material.component" [wantedNumber]="material.amount"></app-material>
        </div>
      </div>
    </div>
  </div>

  <mat-tab-group (selectChange)="callRefreshWowTooltip()">
    <mat-tab label="Consumables">
      <div class="h3-container">
        <h3>Flasks</h3>
        <div class="box-border-container">
          <div class="grid-container-consumable">
            <div *ngFor="let flask of flasks; let index=index">
              <app-consumable [consumable]=flask></app-consumable>
            </div>
          </div>
        </div>
      </div>
      <div class="h3-container">
        <h3>Potions</h3>
        <div class="box-border-container">
          <div class="grid-container-consumable">
            <div *ngFor="let potion of potions; let index=index">
              <app-consumable [consumable]=potion></app-consumable>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Recipes">
      <div class="h3-container">
        <h3>Flasks</h3>
        <div class="box-border-container">
          <div class="grid-container-consumable">
            <div *ngFor="let flask of flasks; let index=index">
              <app-consumable [consumable]=flask [displayMaterial]="true"></app-consumable>
            </div>
          </div>
        </div>
      </div>
      <div class="h3-container">
        <h3>Potions</h3>
        <div class="box-border-container">
          <div class="grid-container-consumable">
            <div *ngFor="let potion of potions; let index=index">
              <app-consumable [consumable]=potion [displayMaterial]="true"></app-consumable>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Overview">
      <div class="h3-container">
        <h3>Specializations</h3>
        <div class="box-border-container">
          <div class="grid-container-specialization">
            <div *ngFor="let specialization of specializations">
              <app-specialization [specialization]="specialization"></app-specialization>
            </div>
          </div>
        </div>
      </div>
      <div class="h3-container">
        <h3>Plants</h3>
        <div class="box-border-container">
          <div class="grid-container-material">
            <div *ngFor="let plant of plants">
              <app-material [material]="plant"></app-material>
            </div>
          </div>
        </div>
      </div>
      <div class="h3-container">
        <h3>Flasks</h3>
        <div class="box-border-container">
          <div class="grid-container-material">
            <div *ngFor="let flask of flasks; let index=index">
              <app-material [material]="flask"></app-material>
            </div>
          </div>
        </div>
      </div>
      <div class="h3-container">
        <h3>Potions</h3>
        <div class="box-border-container">
          <div class="grid-container-material">
            <div *ngFor="let potion of potions; let index=index">
              <app-material [material]="potion"></app-material>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<app-footer></app-footer>
