@import '~@angular/material/theming';

.h3-container {
  @include mat-elevation(4);
  border-radius: 3px;
  margin: 30px 5px;

  h3 {
    font-size: 20px;
    letter-spacing: 1px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-bottom: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }

  .grid-container-consumable {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-gap: 3em;
    justify-content: space-evenly;
    & > div {
      @include mat-elevation(2);
    }
  }
}
