<div class="main-content">
  <div class="h3-container" *ngIf="requiredMaterials?.length">
    <h3>Required materials</h3>
    <div class="box-border-container">
      <div class="grid-container-required-material">
        <div *ngFor="let material of requiredMaterials; let index=index">
          <app-material [material]="material.component" [wantedNumber]="-1" [craftNumber]="material.amount"></app-material>
        </div>
      </div>
    </div>
  </div>

  <mat-tab-group [@.disabled]="true" (selectedTabChange)="callRefreshWowTooltip($event)">
    <mat-tab label="Consumables">
      <div *ngFor="let category of foodsCategories">
        <app-consumable-grid [consumableCategory]="category"></app-consumable-grid>
      </div>
    </mat-tab>

    <mat-tab label="Recipes">
      <div *ngFor="let category of foodsCategories">
        <app-consumable-grid [consumableCategory]="category" [displayMaterial]="true"></app-consumable-grid>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
