<button mat-icon-button [matMenuTriggerFor]="themeMenu" matTooltip="Select a theme" tabindex="-1">
  <mat-icon>invert_colors</mat-icon>
</button>

<mat-menu class="theme-selector-menu" #themeMenu="matMenu">
  <mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let theme of themes">
      <div mat-menu-item class="theme-item" (click)="installTheme(theme)" [matTooltip]="theme.label" matTooltipPosition="left">
        <div class="theme-selector-swatch">
          <mat-icon class="theme-chosen-icon" *ngIf="currentTheme === theme">check_circle</mat-icon>
          <div class="theme-selector-primary" [style.background]="theme.primaryColor"></div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-menu>
