footer {
  font-family: Roboto, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica,
    Arial, 'Lucida Grande', sans-serif;
  padding: 12px;
  font-size: 12px;
  margin-top: 80px;
}

.footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
  @media (max-width: 790px) {
    flex-direction: column;
  }
}

.footer-links {
  list-style: none;
  margin: 0 10px;
  padding: 0;

  .footer-link {
    color: inherit;
    font-size: 16px;
    padding: 0;
    text-decoration: none;
    white-space: pre-line;

    @media (max-width: 790px) {
      display: block;
      text-align: center;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-copyright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.logo {
  height: 50px;
  width: 115px;
  @media (max-width: 790px) {
    margin-bottom: 10px;
  }
}
