.grid-container-consumable-info {
  display: grid;
  grid-template-columns: 1fr 140px;
  grid-column-gap: 1rem;
}

.grid-container-consumable-utility {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  grid-row-gap: 0.5rem;
}

.grid-container-craft-materials {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-column-gap: 1em;
  justify-content: space-evenly;
  margin: 20px auto;
}

.mat-form-field {
  width: 215px;
}

.q1 {
  color: black !important;
}
