@import '../app-theme';

// Define a theme.
$cataclysm-primary: (
  500: #660000,
  contrast: (
    500: #ffffff
  )
);
// custom dark theme : default 200
$primary: mat-palette($cataclysm-primary, 500, 500, 500);
$accent: mat-palette($mat-grey, 600);
$theme: mat-light-theme($primary, $accent);
// Include all theme styles for the components.
@include angular-material-theme($theme);
@include app-theme($theme);
