@import '../app-theme';

// Define a theme.
$primary: mat-palette($mat-green, 900);
$accent: mat-palette($mat-grey, 600);

$theme: mat-light-theme($primary, $accent);
// Include all theme styles for the components.
@include angular-material-theme($theme);
@include app-theme($theme);
