<div class="main-content">
  <div class="h3-container">
    <h3>Specializations</h3>
    <div class="box-border-container">
      <div class="grid-container-specialization">
        <div *ngFor="let specialization of specializations">
          <app-specialization [specialization]="specialization"></app-specialization>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let category of materialCategories">
    <app-material-grid [materialCategory]="category"></app-material-grid>
  </div>
</div>
