@import '~@angular/material/theming';

:host {
  @include mat-elevation(2);
}

.recipe {
  padding: 10px;
  display: grid;
  grid-template:
    'material specializations' 120px
    'effect   effect'
    'crafts   crafts' / 1fr 1fr;
  grid-gap: 20px;
  align-items: center;

  &.rank-recipe {
    grid-template:
      'material specializations' 120px
      'rank     rank'
      'effect   effect'
      'crafts   crafts' / 1fr 1fr;
  }

  .material {
    grid-area: material;
  }

  .specializations {
    grid-area: specializations;
  }

  .effect {
    grid-area: effect;
    justify-self: center;
    width: 250px;
    text-align: center;
    font-size: 16px;
  }

  .rank-selector {
    grid-area: rank;
    justify-self: center;
  }

  .craft-materials {
    grid-area: crafts;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    justify-content: space-evenly;
  }
}
