<div *ngIf="material" class="recipe" [class.rank-recipe]="rank">
  <div class="material">
    <wowc-material
      [idMaterial]="material.idMaterial"
      [quantity]="getCraftNumber()"
      orientation="column"
    >
    </wowc-material>
  </div>

  <div class="specializations">
    <div>Specializations</div>
  </div>

  <div *ngIf="rank" class="rank-selector">
    <wowc-rank-selector
      [rank]="3"
      (rankChange)="updateRank($event)"
    ></wowc-rank-selector>
  </div>

  <div class="effect">
    {{ material.effect }}
  </div>

  <div class="craft-materials">
    <wowc-material
      *ngFor="let reagent of getReagents()"
      [idMaterial]="reagent.idMaterial"
      [quantity]="reagent.amount"
      orientation="column"
      [showTimesSymbol]="true"
    ></wowc-material>
  </div>
</div>
