@import '~normalize-scss';
@import 'scrollbar';

// Load default theme
@import 'custom-themes/bfa-theme';

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.main-content {
  max-width: 87.4375em;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: 720px) {
    padding-top: 25px;
    padding-bottom: 0;
  }
}
