.main-content {
  max-width: 87.4375em;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

@media (max-width: 720px) {
  .main-content {
    top: 90px;
  }
}
