h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

.q1 {
    color: black !important;
}

.grid-container-consumable {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-gap: 3em;
    max-width: 87.4375em;
    margin: 0 auto;
    justify-content: space-evenly;
}