@import '~@angular/material/theming';

app-root {
  display: flex;
  min-height: calc(100vh - 53px);
  flex-direction: column;
  position: absolute;
  overflow-y: auto;
  top: 53px;
  bottom: 0;
  left: 0;
  right: 0;
}

app-navbar {
  @include mat-elevation(6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  flex: 1;
}

@media (max-width: 720px) {
  app-root {
    top: 89px;
  }
}

.main-content {
  max-width: 87.4375em;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;

  .h3-container {
    @include mat-elevation(4);
    border-radius: 3px;
    margin: 30px 5px;

    h3 {
      font-size: 20px;
      letter-spacing: 1px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      border: 1px solid rgba(27, 31, 35, 0.15);
      border-bottom: 0;
      font-family: Roboto, 'Helvetica Neue', sans-serif;
    }

    .grid-container-material, .grid-container-required-material {
      padding: 20px 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, 100px);
      grid-gap: 3em;
      justify-content: space-evenly;
    }

    .grid-container-specialization {
      padding: 20px 0;
      display: grid;
      grid-gap: 0.5rem;
      justify-content: center;
    }

    .grid-container-consumable {
      padding: 20px 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, 350px);
      grid-gap: 3em;
      justify-content: space-evenly;
      & > div {
        @include mat-elevation(2);
      }
    }
  }
}
