@mixin h3-container-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .h3-container {
    h3 {
      background-color: mat-color($primary);
      color: mat-color($primary, default-contrast);
    }
  }
}
