@mixin header-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  wowc-header {
    color: mat-color($primary, default-contrast);

    header {
      background: mat-color($primary);

      .logo {
        height: 26px;
        margin: 0 4px 3px 0;
        vertical-align: middle;
      }

      .svg-logo {
        fill: mat-color($primary, default-contrast);
      }
    }
  }
}
