@import '~@angular/material/theming';

header {
  @include mat-elevation(6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.navbar-hide-small {
  @media (max-width: 720px) {
    display: none;
  }
}

.navbar-show-small {
  display: none;

  @media (max-width: 720px) {
    display: flex;
  }

  .navbar-link {
    text-decoration: inherit;
    flex: 1;
  }
}

.logo {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}
